<app-layout-header title="Users">
  <app-button
    actions
    variant="raised"
    color="primary"
    text="Add user"
    (clicked)="openUserManagementDialog(dialog)"
  />
</app-layout-header>

<app-table
  #table
  [data$]="usersRepository.getUsers()"
  [rowHover]="true"
  (rowSelected)="goToDetails($event, 'users')"
>
  <app-table-columns>
    <app-table-column matColumnDef="name">
      <ng-template let-item> {{ item.name }} </ng-template>
    </app-table-column>

    <app-table-column matColumnDef="username">
      <ng-template let-item> {{ item.name }} </ng-template>
    </app-table-column>

    <app-table-column matColumnDef="email">
      <ng-template let-item> {{ item.name }} </ng-template>
    </app-table-column>

    <app-table-column matColumnDef="phone">
      <ng-template let-item> {{ item.phone }} </ng-template>
    </app-table-column>

    <app-table-column matColumnDef="company">
      <ng-template let-item> {{ item.company.name }} </ng-template>
    </app-table-column>
  </app-table-columns>
</app-table>

<ng-template #dialog let-data>
  <app-user-management-dialog [data]="data" />
</ng-template>
