<app-layout-header subtitle="Albums" />

<p *ngIf="(albumsFacade.errorMessage$ | async) as error; else tableTemplate">
  {{ error }}
</p>

<ng-template #tableTemplate>
  <app-table
    #table
    [data$]="albumsFacade.albums$"
    [loading$]="albumsFacade.loading$"
    [rowHover]="true"
    (rowSelected)="goToDetails($event, 'albums')"
  >
    <app-table-columns>
      <app-table-column matColumnDef="Title">
        <ng-template let-item> {{ item.title }} </ng-template>
      </app-table-column>

      <app-table-column matColumnDef="Owner ID">
        <ng-template let-item>
          <a [routerLink]="'/users/' + item.userId" class="owner-link"
            >{{ item.userId }}
          </a>
        </ng-template>
      </app-table-column>
    </app-table-columns>
  </app-table>
</ng-template>
