@use '@angular/material' as mat;
@use '_color-palettes' as palettes;

:host {
  display: block;
  max-width: 1440px;
  padding: 32px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;

  .nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .nav-link.active {
    color: mat.get-color-from-palette(palettes.$brown-palette, 500);
    text-decoration: underline;
  }
}

.header-title {
  margin: 0;
}

.divider {
  margin: 16px 0 32px;
}
