<div class="header">
  <a class="mat-headline-3 header-title" [routerLink]="'/'">{{ title }}</a>

  <nav class="nav">
    <ul *ngFor="let link of menuLinks">
      <li>
        <a
          [routerLink]="link.path"
          routerLinkActive="active"
          class="nav-link"
          >{{ link.label }}</a
        >
      </li>
    </ul>
  </nav>
</div>

<mat-divider class="divider" />

<div class="subheader">
  <a *ngIf="backNavLink" [routerLink]="backNavLink"
    ><app-icon-button icon="keyboard_backspace"
  /></a>

  <h1 class="mat-h1 header-title">{{ subtitle }}</h1>

  <ng-content select="[actions]" />
</div>
