<ng-container *ngIf="(userDetailsFacade.userViewModel$ | async) as userVm">
  <p *ngIf="userVm.userErrorMessage as error; else headerTemplate">
    {{ error }}
  </p>

  <ng-template #headerTemplate>
    <app-layout-header
      *ngIf="userVm.user"
      [subtitle]="userVm.user.name + ' (' + userVm.user.username + ')'"
      backNavLink="/users"
    >
      <app-button
        actions
        *ngIf="router.url.includes('todos')"
        variant="raised"
        color="primary"
        text="Add todo"
        (click)="openAddTodoDialog(addTodoDialog)"
      />
    </app-layout-header>
  </ng-template>

  <nav mat-tab-nav-bar [tabPanel]="tabPanel" [mat-stretch-tabs]="false">
    <a mat-tab-link routerLink="todos" routerLinkActive> Todos </a>

    <a mat-tab-link routerLink="albums" routerLinkActive> Albums </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

  <router-outlet />
</ng-container>

<ng-template #addTodoDialog let-data>
  <app-todo-management-dialog [data]="data" />
</ng-template>
