<ng-container *ngIf="(userDetailsFacade.userViewModel$ | async) as userVm">
  <app-layout-header *ngIf="userVm.user" [subtitle]="userVm.user.name">
    <app-button
      actions
      variant="raised"
      color="primary"
      text="Add todo"
      (click)="openAddTodoDialog(addTodoDialog)"
    />
  </app-layout-header>

  <p
    *ngIf="(userDetailsFacade.todosErrorMessage$ | async) as error; else tableTemplate"
  >
    {{ error }}
  </p>

  <ng-template #tableTemplate>
    <app-table
      #table
      [data$]="userDetailsFacade.todos$"
      [loading$]="userDetailsFacade.todosLoading$"
    >
      <app-table-columns>
        <app-table-column matColumnDef="Title">
          <ng-template let-item> {{ item.title }} </ng-template>
        </app-table-column>

        <app-table-column matColumnDef="Completed">
          <ng-template let-item>
            {{ !!item.completed ? 'Yes' : 'No' }}
          </ng-template>
        </app-table-column>

        <app-table-column matColumnDef="Actions">
          <ng-template let-item>
            <app-icon-button
              icon="edit"
              (click)="openEditTodoDialog($event, editTodoDialog, item)"
            />
          </ng-template>
        </app-table-column>
      </app-table-columns>
    </app-table>
  </ng-template>
</ng-container>

<ng-template #addTodoDialog let-data>
  <app-todo-management-dialog [data]="data" />
</ng-template>

<ng-template #editTodoDialog let-data>
  <app-todo-management-dialog [data]="data" />
</ng-template>
